:root {
  --background-color: white;
  --fall-main-color: rgb(252, 178, 39);
  --winter-main-color: red;
  --spring-main-color: green;
  --summer-main-color: yellow;
}

body {
  background-color: var(--background-color);
  max-width: 100%;
}
.hero {
  background-color: #f8f9fa;
  padding-bottom: 40%;
}

h2,
h3,
h3 {
  text-align: center;
  line-height: 28px;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  margin: 25px;
  color: black;
}

.botmLink {
  text-decoration: none;
}

.botmHeadline {
  background-color: #3a4e5e;
  color: #f8f9fa;
  padding: 30px;
}
.season-fall {
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin: 70px 0 70px;
  font-size: 56px;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  padding-top: 80px;
}

.botmIndexPage,
footer i {
  margin: 35px;
  font-size: large;
}

.row {
  margin-top: 30px;
}

.col-sm-4 {
  max-width: 100%;
  text-align: center;
  padding: 20px;
  font-family: "Tenor Sans", sans-serif;
}

h5 {
  font-family: "Cinzel", serif;
}

.btn-dark {
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  padding: 10px;
}

.navbar {
  padding: 0 14px 0 14px;
}
.nav-item {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Tenor Sans", sans-serif;
  position: relative;
  top: 7px;
}

.logo-navbar {
  font-size: 10px;
  text-decoration: underline;
  position: relative;
  top: -5px;
}

.home-link {
  font-family: "Cinzel", serif;
  font-size: 24px;
}
.col-sm-6 img {
  max-width: 40%;
  height: auto;
  position: relative;
  right: -150px;
  border: 30px solid #46604d;
}

.botmPic {
  min-width: 25px;
  max-width: 40%;
  height: auto;
}

div .joinLink,
.infoLink {
  background-color: #486780;
  border: 1px solid #486780;
  padding: 12px 30px;
  margin: 30px;
  color: #f8f9fa;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: "Tenor Sans", sans-serif;
}
.logo-text {
  font-size: medium;
  text-decoration: underline;
  position: relative;
  top: -14px;
}

@media (max-width: 574px) {
  h1 {
    line-height: 50px;
  }

  div .joinLink,
  .infoLink {
    text-align: center;
  }
  .col-sm-6 img {
    margin: 20px 0 20px 0;
  }

  p {
    text-align: center;
  }
}
