:root {
  --background-color: white;
  --fall-main-color: #0c3938;
  --winter-main-color: red;
  --spring-main-color: green;
  --summer-main-color: yellow;
  --text-font: "Tenor Sans", sans-serif;
  --headline-font: "Cinzel", serif;
}

body {
  background-color: var(--background-color);
  max-width: 100%;
}
.hero {
  background-color: #f8f9fa;
  padding-bottom: 15%;
}
h1 {
  text-align: center;
  margin: 70px 0 70px;
  font-size: 56px;
  text-transform: uppercase;
  font-family: var(--headline-font);
  padding-top: 80px;
}

h2,
h3,
h4 {
  text-align: center;
  margin: 25px;
}
h2,
h3,
h4,
h6 {
  line-height: 28px;
  font-family: var(--text-font);
  text-transform: uppercase;

  color: black;
}

h5 {
  font-family: var(--headline-font);
}

div .col-sm-6.botmIndex-titlePage {
  margin: 35 40px;
  font-size: large;
  padding: 40px;
}

footer i {
  margin: 20px;
}

.botmHeadline {
  background-color: #3a4e5e;
  color: #f8f9fa;
  padding: 30px;
}
.season-fall {
  text-transform: uppercase;
  font-family: var(--headline-font);
  text-decoration: underline;
}

.currentRead {
  text-align: center;
  margin: 50px 0 50px;
  font-size: 46px;
  text-transform: uppercase;
  font-family: var(--headline-font);
  padding: 0;
}

.row {
  margin-top: 30px;
}

.col-sm-4 {
  max-width: 100%;
  text-align: center;
  padding: 20px;
  font-family: var(--text-font);
}

.navbar {
  padding: 0 14px;
}
.nav-item {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: var(--text-font);
  position: relative;
  top: 7px;
}

.logo-navbar {
  font-size: 10px;
  text-decoration: underline;
  position: relative;
  top: -5px;
}
.botmHeader {
  border: 2px solid var(--fall-main-color);
  margin: 25px;
}

.logo-text {
  font-size: medium;
  text-decoration: underline;
  position: relative;
  top: -14px;
}

.archive {
  margin: 0 auto;
  display: block;
  text-align: center;
  border: 2px solid #486780;
  padding: 20px;
  margin: 20px;
}

.carousel {
  margin: 25px 25px 25px 75px;
}

.col-sm-6 img {
  max-width: 40%;
  height: auto;
  position: relative;
  right: -150px;
  border: 30px solid var(--fall-main-color);
}
.botmPic {
  min-width: 25px;
  max-width: 40%;
  height: auto;
}
.botmPicPage {
  max-width: 100%;
  border: 10px solid var(--fall-main-color);
  margin: 0 auto;
}

.btn-dark {
  text-transform: uppercase;
  font-family: var(--headline-font);
  padding: 10px;
}
.tags {
  font-family: var(--text-font);
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 12px;
}

.tags a {
  text-decoration: none;
  color: black;
}

.botmLink {
  text-decoration: none;
}

.home-link {
  font-family: var(--headline-font);
  font-size: 24px;
}
.gift-link {
  background-color: var(--fall-main-color);
  font-size: 24px;
  text-align: center;
  font-family: var(--headline-font);
  margin: 25px;
}

div .joinLink,
.infoLink,
.readMore {
  background-color: #486780;
  border: 1px solid #486780;
  padding: 12px 30px;
  margin: 30px;
  color: #f8f9fa;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: var(--text-font);
}

div .joinLink:hover,
.infoLink:hover {
  color: black;
  text-decoration: underline;
}
#aboutUs,
#contact,
#faq {
  font-size: 26px;

  font-family: var(--text-font);
}

@media (max-width: 574px) {
  h1 {
    line-height: 50px;
  }

  div .joinLink,
  .infoLink {
    text-align: center;

    padding: 10px 20px;
  }
  .col-sm-6 img {
    margin: 20px 0;
  }

  p {
    text-align: center;
  }

  .botmPicPage {
    max-width: 40%;
  }
  #aboutUs,
  #contact,
  #faq {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
  }
}
